@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
    text-decoration-line: none;
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed; /* Fixar o navbar no topo */
  top: 0;
  left: 0;
  z-index: 10; /* Garantir que o navbar fique acima do conteúdo da página */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adicionar sombra para dar destaque */
}

label.logo {
  color: rgb(255, 0, 0);
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  

}

a.active,
a:hover {
  background: rgb(255, 255, 255);
  transition: .5s;
  text-decoration: none;
  color: red;
}

.checkbtn {
  font-size: 22px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
    text-decoration: none;
  }
}

@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
 

  label.logo {
    font-size: 22px;
 
  }
  ul {
    position: fixed;
    text-decoration: none;
    width: 100%;
    height: 100vh;
    background: #fffefe;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 11; /* Garantir que o menu fique acima da CTA */
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    text-decoration: none;
  }
  a:hover,
  a.active {
    background: none;
    color: red;
    text-decoration: none;
    text-decoration: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
}



.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/imagemClar.png');
  background-size: cover;
  background-position: top;
  padding: 60px 20px;
  color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  height: 80vh;
  position: relative;
  width: 100%;
  text-align: center;
}

.cta-logo {
  margin-bottom: 30px;
}

.titulo.second{
  margin-bottom: 20px;
}
.cta-logo img {
  max-width: 200px;
  height: auto;
}

.cta-content {
  z-index: 2;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.cta-content h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.4;
}

.cta-content p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: auto;
  margin-top: 20px;
  font-family: 'Montserrat';
}

.cta-button:hover {
  background-color: #ffffff;
  color: rgb(255, 0, 0);
}

@media (max-width: 768px) {
  .cta {
    padding: 50px 20px;
    margin-top: 50px;
  }

  .cta-logo img {
    max-width: 200px;
  }

  .cta-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
         
  }

  .cta-content p {
    display: none;
  }

  .cta-button {
    padding: 15px 40px;
    font-size: 16px;
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.servicos {
  background-color: #fff;
  padding: 60px 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.texto {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  
}

.p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  color: #000;
  font-weight: bold;
  position: relative;
 
}

.titulo {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 20px; /* Espaço entre o texto e a linha */
}

.titulo::after {
  content: "";
  display: block;
  width: 10%; /* Largura da barra vermelha */
  height: 4px; /* Espessura da barra */
  background-color: red; /* Cor da barra */
  margin: 0 auto; /* Centraliza a barra */
  margin-top: 10px; /* Espaço entre o texto e a barra */
}

.titulo.second::after {
  content: "";
  display: block;
  width: 20%; /* Largura da barra vermelha */
  height: 4px; /* Espessura da barra */
  background-color: red; /* Cor da barra */
  margin: 0 auto; /* Centraliza a barra */
  margin-top: 10px; /* Espaço entre o texto e a barra */
}



.subtitulo {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 50px;
}

.servicos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.servico {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.servico:hover {
  transform: translateY(-10px);
}

.servico-imagem {
  width: 100%;
  height: 200px; /* Definindo uma altura fixa para as imagens */
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

.servico-nome {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.servico-descricao {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  flex-grow: 1; /* Faz com que o conteúdo ocupe o espaço disponível */
}

.botao-agendar {
  display: inline-block;
  padding: 12px 30px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.botao-agendar:hover {
  background-color: rgb(255, 255, 255);
  color: #ff0000;
  
}

/* Responsividade */
@media (max-width: 768px) {
  .servicos-lista {
      flex-direction: column;
      align-items: center;
  }

  .titulo::after {
    content: "";
    display: block;
    width: 30%; /* Largura da barra vermelha */
    height: 4px; /* Espessura da barra */
    background-color: red; /* Cor da barra */
    margin: 0 auto; /* Centraliza a barra */
    margin-top: 10px; /* Espaço entre o texto e a barra */
  }
  

  .servico {
      width: 80%;
      margin-bottom: 30px;
  }
}